.ellipse-container {
    position: relative;
    display: inline-block;
}

.inside-ellipse {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) rotate(30deg);

    font-size: 24px; 
    font-weight: 600;
    color: #7B61FF;
}
